html, body {
    padding: 0;
    margin: 0;
    background: #ECF0F1;
    font-size: 14px;
    color: #9D9E9F;
    height: 100%
    }
/*================================================================================*/
	
/* Default tags [start] */
h3 {
    font-family: Georgia, Palatino, "Times New Roman", Times !important;
    font-weight: 400;
    font-size: 25px;
	margin-top:0px;
    color: #50c1e9
    }
	
a {
    text-decoration: none;
    color: gray
    }

a:hover {
    color: black
    }
	
.header_line p a{
color:white;
}

hr {
    clear: both; 
    float: none; 
    width: 100%; 
    height: 1px;
    margin: 1.4em 0;
    border: none; 
    background: #ddd;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        right bottom,
        color-stop(0, rgb(255,255,255)),
        color-stop(0.1, rgb(221,221,221)),
        color-stop(0.9, rgb(221,221,221)),
        color-stop(1, rgb(255,255,255))
    );
    background-image: -moz-linear-gradient(
        left center,
        rgb(255,255,255) 0%,
        rgb(221,221,221) 10%,
        rgb(221,221,221) 90%,
        rgb(255,255,255) 100%
    );
    }
	
input[type="text"]:focus ,input[type="password"]:focus,input[type="email"]:focus{
    outline: none;
    border: #7bc1f7 solid 1px;
    -moz-box-shadow: 0 0 8px #7bc1f7;
    -webkit-box-shadow: 0 0 8px #7bc1f7;
    box-shadow: 0 0 8px #7bc1f7
    }

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
/* Default tags [end] */

/*================================================================================*/
.container {
    min-height: 100%;
    position: relative
    }
/*================================================================================*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
	color:white;
    background: #20465F
    }
/*================================================================================*/
footer a{
color:white !important;
}
/*================================================================================*/
.top {
    z-index: 100000;
    height: 53px;
    position: fixed;
    width: 100%;
    top: 0;
    color: white;
    background: #20465F;
    }

.top #logo {
    width: 150px;
    padding-top: 5px;
    padding-left: 7px;
    float: left;
    overflow: hidden
    }

.top #line {
    width: 100%;
    height: 4px;
    background: #FFB527
    }
/*================================================================================*/
.right{
float:right;
line-height:16px;
}
.right tr td{
padding-left:5px;
}

.button{
    font-size:13px;
	position:relative; 
	border:1px solid #adc5cf;
	cursor: pointer;
	height:32px;
	width:32px;

}

.but_search{
	background: url(../images/search-icon.png) 8px 8px no-repeat;
	background-color:#2980B9 ;
	background-size: 13px 13px;
}

.but_fb{
	background: url(../images/facebook.png) 1px 4px no-repeat;
	background-color:white ;
	background-size: 22px 22px;
}

.but_tw{
	background: url(../images/tw.png) 0px 0px no-repeat;
	background-color:white ;
	background-size: 30px 30px;
}

.search input[type="text"] {
background-color:white ;
    border: #d0d0d0 solid 1px;
    padding: 7px 5px 7px 10px;
    /*background: url(../images/search.gif) 8px 6px no-repeat #fcfcfc;*/
    color:gray;
    width: 140px;
	float:right;
margin-right:-5px;
    border-right:none;
    font-size: 14px;
	
    }
/*================================================================================*/
/* Navigation [Start]*/
.nav {
      float:right;
     }
	
.nav ul {
    padding: 0px;
    margin: 0px;
    padding-right: 10px;
	margin-top:16px;
	}

.nav ul li {
    display:table-cell;
	padding:0px;
	margin:0px;
	height:50px;
    }

.nav ul li a {
    text-decoration: none;
    color: white;
   padding-top:16px;
	padding-bottom:16px;
    padding-left: 15px;
    padding-right: 15px
    }

	
	
.nav ul li #selected {
    background: #2f6081;

    }
	
.nav ul li a:hover {
    background: #326e97;
    }
	
/*================================================================================*/

.menu_icon:active{
background-color:orange;
}

.menu_icon {
border-radius:5px;
    display: none;
    position: absolute;
    right: 0;
    background: url(../images/menu-icon.png) no-repeat;
    -webkit-background-size: 35px 35px;
    background-size: 35px 35px;
    width: 35px;
    height: 35px;
    margin: 6px
    }

.nav_mobile {
    background: white;
    width: 50%;
	position:absolute;
	right:0px;
    z-index: 1000;
    margin-top: 50px;
    border-bottom: 2px solid #2980B9;
    border-left: 2px solid #2980B9;
    border-right: 2px solid #2980B9;
	
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;

    -moz-border-radius-bottomright: 10px;
border-bottom-left-radius:10px;
    }

.nav_mobile ul {
    padding: 0;
	border-bottom-left-radius:10px;
    margin: 0
    }
.nav_mobile ul li{
list-style:none;
}
.nav_mobile ul li a {
    padding: 10px;
    display: block
    }
	
/* Navigation [End]*/

/*================================================================================*/
.wrapper {
    height: 100%;
    padding-top: 53px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding-bottom: 40px;
    font-size: 14px;
    line-height: 20px;
	overflow: hidden;
    }
/*================================================================================*/
/* Responsive [Start]*/

	.header {
        background: #2f6081;
		color:white;
        display: block;
        overflow: hidden;
        border-bottom: 1px solid #E4E4E4;
		margin-bottom:30px;
		
		        margin-left: -10px;
        margin-right: -10px;
		padding-bottom:5px;
		
       }
	   
	   
	  #info{
         font-family:Arial;
	 font-size:20px;
         font-color:#333333;

	  
	  
	  }

		
@media screen and (max-width: 1019px) {

    .content * {
        max-width: 100%;
        }
    .wrapper {
        padding-top: 53px;
		box-shadow:none
        }
		
		.header{
		 margin-left: 0px;
        margin-right: 0px;
		}
		
    .header img {
        width: 100%;
		 border-bottom: 1px solid #E4E4E4;
        }

    .header p {
        float: left;position:absolute;
		margin-top:7px;
		padding-left:10px;
        }
		.right{float:right;margin-right:5px;}
		
    .top {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1 !important
        }
     #banner_top {
        width: 100%;
        }
	 #padding{
		padding:10px;
		}

    }
	
@media screen and (max-width: 799px) {
		.right{width:100%;}
		
		.right tr td{width:100%;margin-left:5px;}
				.header{
		 margin-left: 0px;
        margin-right: 0px;
		}
	    .search input[type="text"] {
        width:100%;
		margin-left:5px;
        }
		    .header {
        margin-left: 0px;
        margin-right: 0px;
        }
			.header p{
	 display:none;
	    }
		

		
}
	
@media screen and (min-width: 1020px) {
    #padding {
        padding-left: 20px;
        padding-right: 20px
        }
		.header{
		padding-bottom:0px;
		}
    .header p {
        float: left;
		margin-top:10px;
		padding-left:10px;

        }
		.right{float:right;margin-right:5px;margin-top:3px;}
    #banner_top {
        border-bottom: 1px solid #E4E4E4;
        width: 100.4%;
        margin-left: -2px;
        }
    .content {
        width: 1000px;
        margin: auto
        }
    .wrapper {
        padding-left: 10px;
        padding-right: 10px;
        background: white
        }
    }
	
/* Responsive [End]*/

/*================================================================================*/	
#applied{
cursor:pointer;
}
/*================================================================================*/	
.uni_list li { width: 100%;  margin: 0 0 7px 0; }
.uni_list li a { 
display: block;
width: 100%;
margin: 0 0 7px 0;
background: #F7F5F2 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAbCAYAAABvCO8sAAABaElEQVR42u1WwZHCMAxMCZRACVfClZASUkKeDEdwHAq4EighJVACJVACJYB3HIHjxJLjeIYPntGDBHa1WkmmKL7nU2e/Vz9HpdtG6cs4ut5EvdupbRaiw0H9Ali1pwfFn9I3PDuq7u4+b5r2vIrYAPy/wIwSQ17636nremPeVZQUksDnFLKzBdBXqIysRkmqF5GSMpBBwXKvF5BCTSqZT4oQPUVDgBA/WtNs6FxqJFEd9yWohnqnmSop+WClyLu5buRIMZ+cyiAetXZMyYZx6N0ZZPphNqHCzpC+eFlW0+3yDn/wfUxb9jEm+xLZuaBS+J6yhEsVuj7yCrs+i4dS44gepnZpaDREPAy7OKzW1+g5hE3ChrBljV3YTFItW06/7shuzS6lqyoKI9dtIfVC4D7s7rHlxSpLug/nhn74/1L51w0UgYgW9ZBgmWy+BRyvsOCWMVVJ9X1yoAxKADraOMZvKM9GlPs8AcihBIhAjwkyAAAAAElFTkSuQmCC) 99% center no-repeat;
font-size: 15px;
color: #333;
padding: 10px 10px 10px 20px;
text-decoration: none;
}

.uni_list li a:hover { background-color: #EFEFEF; }
/*================================================================================*/	
kbd {
unicode-range: U+??,U+100-220;
background: #eee;
border-style: solid;
border-color: #ccc #aaa #888 #bbb;
padding: .1em .6em;
border: 1px solid #ccc;
font-size: 11px;
font-family: Arial,Helvetica,sans-serif;
background-color: #f7f7f7;
-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
border-radius: 3px;
display: inline-block;
margin: 0 .1em;
text-shadow: 0 1px 0 #fff;
line-height: 1.4;
white-space: nowrap;
}
/*================================================================================*/	
.btn {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #3bafda;
    border-color: #3bafda;
    background-image: none;
    border: transparent solid 1px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    text-shadow: none
    }

.btn:hover {
    color: #F6F6F6;
    background-color: #1089B5
    }

/*================================================================================*/

.img {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: #D2D2D2 solid 1px;
    margin: 5px;    display: block;
    overflow: hidden
    }

/*================================================================================*/

#block {
  display:block;
    }

/*================================================================================*/
.filter{
margin-bottom:10px;
}

.filter #text{
border: 1px solid #e1e2e3;
background-color: #f6f7f8;
padding:5px;
font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
font-size: 13px;
overflow:hidden;
}

.filter #title{
padding:5px;
color: #9197a3;
background: #fff;
border: 1px solid;
border-bottom:0px;
border-color: #e5e6e9 #dfe0e4 #d0d1d5;
-webkit-border-radius: 3px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;
font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
font-size: 13px;
}

.filter .select{
width:100%;
    border: 1px solid #ccc;
    margin-top:5px;
    width: 100%;

    border-radius: 3px;

    overflow: hidden;

    background: #fafafa url('data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==') no-repeat 97%;
}

.filter .select select{
    padding: 2px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select select:focus{
outline: none;
}

#text span{
display:block;
}

.filter hr{
background:none;
border-top:dashed gray 1px;
margin:0px;
margin-top:10px;
margin-bottom:5px;
}


.filter input[type=submit]{
margin-top:10px;
width:100%;
border: 1px solid;
border-color: #cdced0 #c5c6c8 #b6b7b9;
color: #4e5665;
text-shadow: 0 1px 0 #fff;
background: url(../../../fbstatic-a.akamaihd.net/rsrc.php/v2/y1/r/wL6VQj7Ab77.png) #f6f7f8;
-webkit-border-radius: 2px;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
-webkit-box-sizing: content-box;
-webkit-font-smoothing: antialiased;
font-weight: bold;
padding: 0 8px;
position: relative;
text-align: center;
vertical-align: middle;
font-size: 12px;
line-height:22px;
font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
box-sizing: border-box;
}

.uni{
margin-bottom:20px;
}

.uni #title{
padding: 5px;
color: #9197a3;
background: #fff;
border: 1px solid;
border-color: #e5e6e9 #dfe0e4 #d0d1d5;
-webkit-border-radius: 3px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
font-size: 12px;
overflow:hidden;
}

.uni #title span{
float:right;
padding-right:10px;
}

.uni #title span a{
text-decoration:none;
color:black;
}

.uni #text{
background:white;
border:solid #e5e6e9 1px;
border-top:none;
padding:5px;
color:gray;
line-height:25px;
font-size:15px;
overflow:hidden;
}

#select div span{
float:right;
color:gray;
}

#select{
padding-left:10px;
padding-right:10px;
color:black;
}

.uni_left{
float:left;width:690px;
}

.uni_right{
float:right;
width:230px;
}
/*================================================================================*/
.view_uni{
background:white;
width:100%;
}

.view_uni{
border:solid #E6E6E6 1px;
overflow:hidden;
}

.view_uni img{
width:100%;
max-width:400px;
float:left;
margin-right:10px;
margin-bottom:10px;
}

.view_uni #title{
padding:10px;
background:#F7F5F2  ;
}
.view_uni p{
margin-left:10px;
margin-right:10px;
line-height:25px;
}
/*================================================================================*/
.epay_button {
border:none;
background:none;
background: url(../../../online.datamax.bg/epaynow/b03.gif) no-repeat;
width:120px;
height:35px;
}
/*================================================================================*/
.dropdown-menu {
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
min-width: 160px;
padding: 5px 0;
margin: 2px 0 0;
font-size: 14px;
text-align: left;
list-style: none;
background-color: #fff;
-webkit-background-clip: padding-box;
background-clip: padding-box;
border: 1px solid #ccc;
border: 1px solid rgba(0,0,0,.15);
border-radius: 4px;
-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
box-shadow: 0 6px 12px rgba(0,0,0,.175);
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
color: #262626;
text-decoration: none;
background-color: #f5f5f5;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
background-color: #e8e8e8;
background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
background-repeat: repeat-x;
}


.theme-dropdown .dropdown-menu {
position: static;
display: block;
margin-bottom: 20px;
}

.dropdown-menu>li>a {
outline:none;
display: block;
padding: 3px 20px;
clear: both;
font-weight: 400;
line-height: 1.42857143;
color: #333;
white-space: nowrap;
text-decoration:none;
}

.dropdown-menu li {
display: list-item;
text-align: -webkit-match-parent;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
color: #fff;
text-decoration: none;
outline: 0;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
background-color: #357ebd;
background-image: -webkit-linear-gradient(top,#428bca 0,#357ebd 100%);
background-image: -o-linear-gradient(top,#428bca 0,#357ebd 100%);
background-image: -webkit-gradient(linear,left top,left bottom,from(#428bca),to(#357ebd));
background-image: linear-gradient(to bottom,#428bca 0,#357ebd 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
background-repeat: repeat-x;
}

.dropdown-menu .divider {
height: 1px;
margin: 9px 0;
overflow: hidden;
background-color: #e5e5e5;
}



.table {
width: 100%;
max-width: 100%;
margin-bottom: 20px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
display: table;
border-collapse:collapse;
border-spacing: 2px;
border-color: gray;
border-top:none;
}

.table td, th {
display: table-cell;
vertical-align: inherit;
}

.table thead {
display: table-header-group;
vertical-align: middle;
border-color: inherit;
border-bottom:solid #dbdbdb 2px;
border-top:none;
}

.table tbody {
display: table-row-group;
vertical-align: middle;
border-color: inherit;
border-top:none;
}

.table tr {
display: table-row;
vertical-align: inherit;
border-color: inherit;
border-top:none;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
background-color: #f9f9f9;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
padding: 8px;
line-height: 1.42857143;
vertical-align: top;
border-top: 1px solid #ddd;
}

.table>thead>tr>th{
border-top:none;
color:#504F4F;
}

.table th {
text-align: left;
}

.box_profil{
padding:10px;
overflow:hidden;
margin-left:180px;
background-color: #fff;
-webkit-background-clip: padding-box;
background-clip: padding-box;
border: 1px solid #ccc;
border: 1px solid rgba(0,0,0,.15);
border-radius: 4px;
-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.form-control {
display: block;
margin-bottom:5px;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);

}

.form-control:focus{
color:#000;
outline:none;
border:#35a5e5 1px solid;
box-shadow: 0 0 5px rgba(81, 203, 238, 1);
-webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
-moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1); 
}
/*================================================================================*/
@media screen and (max-width: 560px) {
.dropdown-menu{
float:none;
}

.box_profil{
margin-left:0px;
}
}
/*================================================================================*/
.change_pass{
  font-size: 1.2em;
  padding:0.5em 1.75em 0.5em 1em;
}

.btn-instagram {
font-weight:bold;
  font-family: sans-serif;
  color:#333;
	text-shadow:1px 1px #fff;
	text-decoration: none;
	display:inline-block; 
	border-radius: 0.25em;
	background: #f8f8f8;
	border:1px solid #ccc;
	border-right:0.25em solid #00558D; /* blue stripe */
	position: relative;
	margin:0 0 1px; 
}

.btn-instagram:before, .btn-instagram:after {
	content:'';
	display:block;
	position: absolute;
}

/* Add Stripes */
.btn-instagram:before {
	width:0.25em;
	height: 100%;
	background:#FBB03B; /* yellow stripe */ 
	border-left:0.25em solid #D4145A; /* red stripe */ 
	border-right:0.25em solid #00A99D; /* green stripe */ 
	top:0;
	right:0;
}

/* Add Hightlights */
.btn-instagram:after {
	width:100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 0.25em;
	padding-left: 0.25em;
	box-shadow: inset 1px 1px 0px rgba(255,255,255,0.5), inset -1px -1px 0 rgba(0,0,0,0.1);

background: -moz-linear-gradient(top,  rgba(255,255,255,0.35) 0%, rgba(255,255,255,0.2) 49%, rgba(255,255,255,0) 50%, rgba(0,0,0,0.1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.35)), color-stop(49%,rgba(255,255,255,0.2)), color-stop(50%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,0.1)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.2) 49%,rgba(255,255,255,0) 50%,rgba(0,0,0,0.1) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.2) 49%,rgba(255,255,255,0) 50%,rgba(0,0,0,0.1) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.2) 49%,rgba(255,255,255,0) 50%,rgba(0,0,0,0.1) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.2) 49%,rgba(255,255,255,0) 50%,rgba(0,0,0,0.1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59ffffff', endColorstr='#1a000000',GradientType=0 );

}


/* Animate - Fade */
.btn-instagram, .btn-instagram:before {
    -webkit-transition-property: background, border;
    -webkit-transition: 0.1s ease-in;
    -moz-transition-property: background, border;
    -moz-transition: 0.1s ease-in;
    -o-transition-property: background, border;
    -o-transition: 0.1s ease-in;
    transition-property: background, border;
    transition: 0.1s ease-in;

}

/* Hover / Focus */
.btn-instagram:hover, .btn-instagram:focus  {
	background: #fff;
}

.btn-instagram:hover {
	border-right:0.25em solid #09c;
}

.btn-instagram:hover:before {
	background:#fc6; /* yellow stripe */ 
	border-left:0.25em solid #f06; /* red stripe */ 
	border-right:0.25em solid #0cc; /* green stripe */ 
}

.btn-instagram:hover:after {
background: -moz-linear-gradient(top,  rgba(255,255,255,0.25) 0%, rgba(255,255,255,0.1) 49%, rgba(255,255,255,0) 50%, rgba(0,0,0,0.05) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.25)), color-stop(49%,rgba(255,255,255,0.1)), color-stop(50%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,0.05)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0.1) 49%,rgba(255,255,255,0) 50%,rgba(0,0,0,0.05) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0.1) 49%,rgba(255,255,255,0) 50%,rgba(0,0,0,0.05) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0.1) 49%,rgba(255,255,255,0) 50%,rgba(0,0,0,0.05) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0.1) 49%,rgba(255,255,255,0) 50%,rgba(0,0,0,0.05) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40ffffff', endColorstr='#0d000000',GradientType=0 );

}

/* Active */
.btn-instagram:active {
	margin:1px 0 0; 
}

.buy:hover{
background: url(../images/BuyNow.png) 4px 4px no-repeat white;
background-size:20px 20px;
}

.buy{
background: url(../images/BuyNow.png) 4px 4px no-repeat #f8f8f8;
background-size:20px 20px;
}


.clear:hover{
    background: url(../images/clear.png) 4px 4px no-repeat white;
	background-size:20px 20px;
}

.buy,.clear{
    -webkit-transition-property: background, border;
    -webkit-transition: 0.1s ease-in;
    -moz-transition-property: background, border;
    -moz-transition: 0.1s ease-in;
    -o-transition-property: background, border;
    -o-transition: 0.1s ease-in;
    transition-property: background, border;
    transition: 0.1s ease-in;
	
box-shadow: inset 1px 1px 0px rgba(255,255,255,0.5), inset -1px -1px 0 rgba(0,0,0,0.1);
padding:2px;
padding-right:10px;
padding-left:30px;

font-weight:bold;
  font-family: sans-serif;
  color:#333;
	text-shadow:1px 1px #fff;
	text-decoration: none;
	display:inline-block; 
	border-radius: 0.25em;
	border:1px solid #ccc;
	border-right:0.25em solid #00558D; /* blue stripe */
	position: relative;
	margin:0 0 1px; 
	
}

.clear{
background: url(../images/clear.png) 4px 4px no-repeat #f8f8f8;
background-size:20px 20px;
padding: 5px;
padding-left:30px;
}
/*================================================================================*/
.error {
color: #a94442;
background-color: #f2dede;
border-color: #ebccd1;
}
.error {
padding: 15px;
border: 1px solid transparent;
border-radius: 4px;
}
/*================================================================================*/
.well {
min-height: 20px;
padding: 19px;
margin-bottom: 20px;
background-color: #f5f5f5;
border: 1px solid #e3e3e3;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.well span{
font-size:16px;
color:black;
}

.button_1-primary {
color: #fff;
background-color: #428bca;
border-color: #357ebd;
}

.button_1 {
margin-top:5px;
margin-bottom:5px;
padding: 10px 16px;
font-size: 18px;
line-height: 1.33;
border-radius: 6px;
margin-bottom: 0;
font-weight: 400;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
width:100%;
}

.button_1-default{
padding: 10px 16px;
font-size: 18px;
line-height: 1.33;
border-radius: 6px;
border: 1px solid #e3e3e3;
background:white;
color:black;
}

.button_1-default:hover {
color: #333;
background: #e6e6e6;
border-color: #adadad;
}

.button_1-primary:hover, .button_1-primary:focus, .button_1-primary:active, .button_1-primary.active, .open>.dropdown-toggle.button_1-primary {
color: #fff;
background-color: #3071a9;
border-color: #285e8e;
}